{% extends 'base.html.twig' %}


{% block title %}
	{{ program.title }}
{% endblock %}


{% block body %}

	<div class="media">

		<img class="poster align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">

		<div class="media-body">

			<h1 class="mt-0">{{ program.title }}</h1>
			<h3>Saison
				{{season.number}}</h3>
			<h3>Episode
				{{episode.number}}
				:
				{{episode.title}}</h3>
			<h5>{{episode.synopsis}}</h5>
		</div>

	</div>

	<div>
		{% for comment in comments %}

			<h1>Comments</h1>

			<table class="table">
				<tbody>
					<tr>
						<th>Comment</th>
						<td>{{ comment.comment }}</td>
					</tr>
					<tr>
						<th>Rate</th>
						<td>{{ comment.rate }}</td>
					</tr>
					<tr>
						<th>Author</th>
						<td>
							<p>{{ comment.author.email }}
								added this comment on
								{{ comment.publishedAt | date("d/m/Y") }}</p>
						</td>
					</tr>
				</tbody>
			</table>
			{% if is_granted("ROLE_CONTRIBUTOR") %}

				<a href="{{ path('app_comment_new') }}">Create new</a>

				<a href="{{ path('app_comment_edit', {'id': comment.id}) }}">edit</a>

				{{ include('comment/_delete_form.html.twig') }}

			{% endif %}
		{% endfor %}
	</div>

	<a href="{{ path('program_index') }}">

		Retour à la liste des programmes

	</a>

{% endblock %}
