{% extends 'base.html.twig' %}

{% block title %}Program index
{% endblock %}

{% block body %}
	<h1 class="text-center">Toutes les séries</h1>


	{{ form_start(form) }}

	{{ form_widget(form) }}

	<button class="btn fw-bold border rounded my-3">Search</button>

	{{ form_end(form) }}


	<table class="table">
		<thead>
			<tr>
				<th style="width: 50px">Id</th>
				<th style="width: 150px">Title</th>
				<th style="width: 200px">Synopsis</th>
				<th style="width: 200px">Poster</th>
				<th style="width: 50px">Country</th>
				<th style="width: 50px">Actors</th>
				<th style="width: 50px">Year</th>
				<th style="width: 150px">Seasons</th>
				<th style="width: 50px">Add to Watchlist</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for program in programs %}
				<tr>
					<td style="width: 50px">{{ program.id }}</td>
					<td style="width: 150px">{{ program.title }}</td>
					<td style="width: 200px">{{ program.synopsis }}</td>
					{% if program.isUploaded != true %}
						<td style="width: 200px"><img class="img-poster" style="width: 200px" src="{{ program.poster }}"></td>
					{% else %}
						<td style="width: 200px"><img class="img-poster" style="width: 200px" src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }}"></td>
					{% endif %}
					<td style="width: 50px">{{ program.country }}</td>
					<td style="width: 50px">
						{% for actor in program.actors %}
							<li>{{ actor.name }}</li>
						{% endfor %}
					</td>
					<td style="width: 50px">{{ program.year }}</td>
					<td style="width: 150px">
						{% for season in program.seasons %}
							<li>
								<a href="{{ path('program_season_show', { programSlug : program.slug, seasonId : season.id }) }}">
									Season
									{{ season.number }}
								</a>
							</li>
						{% endfor %}
					</td>
					<td style="width: 50px">
						<li>
							{% if app.user %}
								<div>
									<a href="{{ path('program_watchlist', {id: program.id})}}">

										<i class="bi {{ app.user.isInWatchlist(program) ? 'bi-heart-fill' : 'bi-heart' }}"></i>

									</a>
								</div>
							{% endif %}
						</li>
					</td>
					<td>
						<li>
							<a href="{{ path('program_show', {'slug': program.slug}) }}">show</a>
						</li>
						<li>
							<a href="{{ path('program_edit', {'slug': program.slug}) }}">edit</a>
						</li>
						<li>
							{{ include('program/_delete_form.html.twig') }}
						</li>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('program_new') }}">Create new</a>
{% endblock %}
