{% extends 'base.html.twig' %}

{% block title %}Program
{% endblock %}

{% block body %}
	<h1>Program</h1>
	{% if app.user %}
		<div>
			<a href="{{ path('program_watchlist', {id: program.id})}}">

				<i class="bi {{ app.user.isInWatchlist(program) ? 'bi-heart-fill' : 'bi-heart' }}"></i>

			</a>
		</div>
	{% endif %}

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ program.id }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ program.title }}</td>
			</tr>
			<tr>
				<th>Synopsis</th>
				<td>{{ program.synopsis }}</td>
			</tr>
			<tr>
				<th>Poster</th>
				<td><img class="img-poster" src="{{ program.poster }}">

					<img class="img-poster" src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }}"></td>
			</tr>
			<tr>
				<th>Country</th>
				<td>{{ program.country }}</td>
			</tr>
			<tr>
				<th>Year</th>
				<td>{{ program.year }}</td>
			</tr>
			<tr>
				<th>Seasons</th>
				<td style="width: 150px">
					{% for season in program.seasons %}
						<li>
							<a href="{{ path('program_season_show', { programSlug : program.slug, seasonId : season.id }) }}">
								Season
								{{ season.number }}
							</a>
						</li>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<th>Actors</th>
				<td>
					{% for actor in program.actors %}

						<li>
							<a href="{{ path("app_actor_show", {'id': actor.id}) }}">{{ actor.name }}</a>
						</li>

					{% else %}

						<li>Aucun acteur pour cette série</li>

					{% endfor %}
				</td>
			</tr>
			<tr>
				<th>Actions</th>
				<td>
					<li>
						<a href="{{ path('program_index') }}">back to list</a>
					</li>
					<li>
						<a href="{{ path('program_edit', {'slug': program.slug}) }}">edit</a>
					</li>
					<li>
						{{ include('program/_delete_form.html.twig') }}
					</li>
				</td>
			</tr>
		</tbody>
	</table>


{% endblock %}
