<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav d-flex justify-content-between align-items-center container-fluid">
				<li class="nav-item fw-semibold">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item fw-semibold">
					<a class="nav-link" href="/program">Programmes</a>
				</li>
				<li id="dropdown" class="nav-item fw-semibold">
					<a class="nav-link dropdown-toggle" href="#dropdown" role="button" data-bs-toggle="#dropdown" aria-expanded="false">
						Catégories
					</a>
					<ul class="dropdown-menu">
						{{ render(controller('App\\Controller\\DefaultController::navbarTop')) }}
					</ul>
				</li>

				<li class="nav-item fw-semibold">
					<a class="nav-link" href="/episode">Episodes</a>
				</li>
				<li class="nav-item fw-semibold">
					<a class="nav-link" href="/season">Seasons</a>
				</li>
				<li class="nav-item fw-semibold">
					<a class="nav-link" href="/actor">Acteurs</a>
				</li>
				{% if app.user %}
					<li class="nav-item fw-bold border rounded-4 p-2">

						<a class="nav-link" href="{{ path('app_profile') }}">
							Mon profil</a>

					</li>
				{% endif %}
				<li class="nav-item fw-bold border rounded-4 p-2 text-center">
					{% if app.user %}

						<span>Hello
							{{ app.user.email }}</span>


						<a class="nav-link" href="{{ path('app_logout') }}">
							Se déconnecter</a>

					{% else %}

						<a class="nav-link" href="{{ path('app_login') }}">
							Se connecter</a>

					{% endif %}
				</li>
			</ul>
		</div>
	</div>
</nav>
